/*Importar fuente personalizada*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');


* {
    margin: 0 ; padding 0; box-sizing: border-box; 
}

body{
    font-family: 'Lato', 'Arial', sans-serif;
}


/*Definición de CSS variables*/
:root{
    --c-primario: #6B0C22;
    --c-secundario: #D9042B;
    --c-terciario: #588C8C;
    --c-claro: #F4CB89;
    --c-oscuro: #011C26;

    /* Dimension del iframe */
    --iframe-width: 650px;
    --iframe-heigth: 450px;
}

/*=======================>Layout de la aplicación con css grid<======================*/

.contenedor{
    background: var(--c-primario);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 50px; 
    overflow-x: hidden;
}

.header{
    background: var(--c-secundario);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.main{
    background: var(--c-terciario);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.footer{
    color: white;
    font-weight: bold;
    /*Centrar el contenido del footer*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos para el menu lateral*/
.menu{
    background: var(--c-claro);
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    border-right: 1px solid var(--c-oscuro);
    left: -300px;
    transition: left 0.3s ease-in-out;
}
.menu.mostrar{
    left: 0;
}
.menu .menu-links li{
    border-bottom:  1px solid var(--c-terciario);
}

.menu .menu-links li{
    border-bottom: 1px solid var(--c-terciario);
    transition: background-color 0.5s;
}
.menu .menu-links li:hover{
    background: var(--c-terciario);
}
.menu .menu-links li a{
    display: block;
    padding: 5px 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.menu .menu-close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -30px;
    background: red;
    color: white;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.menu .menu-close:hover{
    background: red;
}

/*modificaciones layout*/
.contenedor{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr 50px;
}
.header{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.menu{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.footer{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.menu{
    position: static;
    width: auto;
    height: auto;
    transition: none;
    border-top: 1px solid var(--c-terciario);
    border-bottom: 1px solid var(--c-terciario);
}
/*Ocultamos el boton para cerrar el menu lateral*/
.menu .menu-close{
    display: none;
}

/*Restringimos el tamaño del contenido principal*/
.main .instruccion, .main .contenedor-iframe{
    width: var(--iframe-width);
}


/*==================>Responsive design: Estilos para los dispositivos de escritorio<=======================*/
@media screen and (min-width: 900px){
    /*Removemos los botones para moviles de la barra de navegación*/
    .nav .menu-open, .nav .nav-toggle{
        display: none;
    }
    /*Adecuamos la barra de navegación y su contenido*/
    .nav .nav-links{
        height: 50px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav .nav-links li{
        height: 80%;
        margin: 0;
        margin-left: 20px;
        border: 1px solid var(--c-terciario);
        border-radius: 10px;
    }
    .nav .nav-links li a{
        height: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*==========================================================*/

/* Estilos para el contenido principal */
.main{
    padding: 1em;
}

.main .instruccion {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid var(--c-primario);
    background: var(--c-claro);
}
.main .instruccion p{
    margin: 0; padding: 0;
    text-align: center;
    font-weight: bold;
}

.main .contenedor-iframe{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background: var(--c-oscuro);
    margin-top: 0.5em;
    overflow: auto;
}

.main .contenedor-iframe iframe{
    height: var(--iframe-heigth);
    width: var(--iframe-width);
}

/* Estilos para la barra de navegación */
.nav *{
    color: var(--c-oscuro);
}
.nav .nav-links li{
    text-align: center;
    margin: 0 auto;
    transition: background 1s;
}
.nav .nav-links li:hover{
    background: var(--c-claro);
}
.nav .nav-links li a{
    display: block;
    padding: 5px;
    font-weight: bold;
}
.nav .nav-open {
    display: inline-block;
    margin: 5px auto 5px 15px;
    
}
.nav{
    position: relative;
}

/* Iconos grandes */
.icono-grande{
    font-size: 25px;
    cursor: pointer;
}
.nav .nav-toggle{
    position: absolute;
    top: 5px;
    right: 15px;

}

/*Utilidad: Normalizar los links de las listas*/
.lista-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista-links li a{
    text-decoration: none;
}